/* post.css */

body {
  margin: 0;
  padding-top: 4rem; /* Offset for fixed header */
}

main {
  display: flex;
  flex-direction: row; /* 确保内容和侧边栏横向排列 */
  justify-content: space-between; /* 确保整个 main 内的元素间距合理 */
  padding: 2rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  max-width: min(80%, 1300px); /* 设置最大宽度为窗口的80%和1300px取最小 */
}

.post-content {
  width: 80%;
  /*max-width: 1200px; !* 添加最大宽度 *!*/
  padding-right: 2rem; /* 控制正文右侧内边距 */
}

article {
  text-align: center; /* 使文章内容居中 */
  width: 100%;
  margin: 0 auto;
}

article h1 {
  font-size: 2.5rem;
  color: #5e4fa2;
}

.post-date {
  color: #999;
  margin-bottom: 2rem;
}

.post-body {
  font-size: 1.125rem;
  line-height: 1.6;
  color: #333;
  text-align: left; /* 确保正文文本左对齐 */
  padding-left: 1rem; /* 减少正文左侧的空白 */
}

.post-body p {
  text-indent: 1em; /* 减少段落缩进 */
  margin-bottom: 1.5rem; /* 添加段落间距 */
}

.post-body ul,
.post-body ol {
  margin-left: 1.5em; /* 减少列表项缩进 */
  margin-bottom: 1.5rem; /* 列表项间距 */
}

.post-body blockquote {
  margin-left: 1.5em; /* 引  用缩进 */
  margin-right: 1.5em;
  font-style: italic;
  color: #666;
  border-left: 3px solid #ccc;
  padding-left: 1em;
}

.sidebar {
  width: 15%; /* 调整侧边栏宽度 */
  margin-right: 2rem; /* 调整侧边栏的外边距 */
  border-right: 1px solid #ccc; /* 添加分割线 */
  padding-right: 1rem;
}

.sidebar h2 {
  font-size: 1.5rem;
  color: #5e4fa2;
}

.sidebar p {
  font-size: 1rem;
  color: #333;
}

.toc {
  margin-bottom: 2rem;
}

.toc ul {
  list-style: none;
  padding: 0;
}

.toc ul li {
  margin-bottom: 0.5rem;
}

.toc ul li a {
  text-decoration: none;
  color: #5e4fa2;
}

.toc ul li a:hover {
  text-decoration: underline;
}

.social-links {
  display: flex;
  gap: 1rem;
  justify-content: left;
}

.social-links a {
  color: #5e4fa2;
  font-size: 1.5rem;
  text-decoration: none;
}

.social-links a:hover {
  color: #333;
}
