/* shared.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background: #b696fc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 1rem auto;
  max-width: 1200px;
  padding: 1rem 0;
  text-align: center;
  color: #fff;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 1rem;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background: #b696fc;
  border-radius: 10px;
  margin: 1rem auto;
  max-width: 1200px;
  color: #fff;
  border: 2px solid #ccc;
}
