<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/shared.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}">首页</a></li>
        <li><a href="{{ '/blog/' | relative_url }}">文章</a></li>
        <li><a href="{{ '/archives/' | relative_url }}">归档</a></li>
        <li><a href="{{ '/about/' | relative_url }}">关于</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <aside class="sidebar">
      <div class="toc">
        <div class="toc">
          <h2>目录</h2>
           {{ content | toc_only }}
        </div>
      </div>
<!--      <h2>About Me</h2>-->
<!--      <p>Short bio or description about the author.</p>-->
      <h2>Follow Me</h2>
      <div class="social-links">
        <a href="https://space.bilibili.com/your-bilibili-id" target="_blank">
          <i class="fab fa-bilibili"></i>
        </a>
        <a href="https://github.com/your-github-id" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </div>
      </aside>
    <div class="post-content">
      <article>
        <h1>{{ page.title }}</h1>
        <p class="post-date">{{ page.date | date: "%B %d, %Y" }}</p>
        <div class="post-body">
          {{ content }}
        </div>
      </article>
    </div>
  </main>
  <footer>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
  </footer>
</body>
</html>
